nav {
    background-color: #5680E9;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.logo {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    font-weight: bold;
    color: #ffffff !important;
    font-size: 18px;
    color: #262626;
    text-decoration: none;
    transition: 0.3s ease;
}

.nav-links li a:hover {
    border-top: 4px solid #FF9500;
    border-bottom: 4px solid #FF9500;
    padding: 6px 0;
}

@media(max-width:840px) {
    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 0 0.5rem;
    }
}

.hamburger-container {
    display: none;
}

@media (max-width:700px) {
    .hamburger-container {
        display: block;
        background-color: #FF9500;
        border-radius: 20%;
        padding: 2px;
        color: white;
        font-weight: bold;
    }

    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 10vh;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        background-color: #5680E9;
        right: 0;
        border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
        transition: all 0.5s;
        z-index: 9999999;
    }

    .nav-links.open {
        display: flex;
        animation: slideInFromRight 0.3s forwards;
        gap: 15px;
    }

    .nav-links li a {
        color: white !important;

    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}