nav {
    background-color: #5680E9;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.logo {
    width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.nav-links li a:hover,
.nav-links li a:focus {
    color: #C1C8E4;
    background-color: #5AB9EA;
    transform: scale(1.05);
}

@media(max-width:840px) {
    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 0 0.5rem;
    }
}

.hamburger-container {
    display: none;

}

@media (max-width:700px) {
    .hamburger-container {
        display: block;

    }

    .nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 10vh;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100vh;
        background-color: burlywood;
        right: 0;
        border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;


    }

    .nav-links li a {
        color: black;
    }

}